{
  "endOfLine": "lf",
  "importOrder": [
    "^react",
    "^@mui",
    "^@emotion",
    "(.|^@)/app",
    "<THIRD_PARTY_MODULES>",
    "(.|^@)/features/api(?!\\/interface)",
    "(.|^@)/features(?!\\/interface)",
    "(.|^@)/hooks(?!\\/interface)",
    "(.|^@)/(components|views|styled)(?!\\/interface)|\\.\\/[^/]+(?!\\/)",
    "(.|^@)/(helpers|constants|themes)(?!\\/interface)",
    "(.|^@)/adapters(?!\\/interface)",
    "(.|^@)/dti(?!\\/interface)"
  ],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
