@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&family=Libre+Barcode+39&display=swap');

:root {
  --high-contrast-color: #000000;
  --high-contrast-color-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  --font-family: 'Nunito', Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family) !important;
}

#root {
  min-height: 100%;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 12px !important;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0 !important;
}

::-webkit-scrollbar-thumb {
  background-color: #888 !important;
  border-radius: 6px !important;
  border: 3px solid #f0f0f0 !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555 !important;
}

/* Text */

.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.text-right {
  text-align: right !important;
}

/* Scrollbar */

::-webkit-scrollbar {
  height: 5px;
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(196, 195, 195);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(170, 170, 170);
}

/* Sweet alert */

.swal2-popup {
  border-radius: 1rem !important;
  z-index: 999999 !important;
}

.swal2-button {
  border-radius: 3rem !important;
}

.swal2-container {
  z-index: 999998 !important;
}

.swal2-backdrop-show:not(.swal2-top-end):not(.swal2-bottom-end) {
  backdrop-filter: blur(2px);
}

.swal2-container input {
  border-radius: 1rem;
}

/* Backdrop spinner */

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 252, 252);
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.sk-cube1:before,
.sk-cube1,
.sk-cube2:before,
.sk-cube2,
.sk-cube3:before,
.sk-cube3,
.sk-cube4:before,
.sk-cube4 {
  border-radius: 5px 0 0 0;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/*  Lazy Loading Spinner  */

.spinner {
  margin: 10px auto;
  width: 80px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  height: 100%;
  width: 16px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner-content {
  display: block;
}

.spinner-data {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.spinner-title {
  text-align: center;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/*  Animation  */

@keyframes in-keyframes {
  0% {
    opacity: 0;
    translate: 0 50%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes in-keyframes-short {
  0% {
    opacity: 0;
    translate: 0 25%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes in-keyframes-right {
  0% {
    opacity: 0;
    translate: 30% 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes in-keyframes-right-short {
  0% {
    opacity: 0;
    translate: 10% 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes in-keyframes-top {
  0% {
    opacity: 0;
    translate: 0 -25%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes in-keyframes-top-short {
  0% {
    opacity: 0;
    translate: 0 -10%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.animate-in-bottom {
  animation: in-keyframes 0.5s both;
}

.animate-in-bottom-short {
  animation: in-keyframes 0.75s both;
}

.animate-in-right {
  animation: in-keyframes-right 0.75s both;
}

.animate-in-right-short {
  animation: in-keyframes-right-short 0.75s both;
}

.animate-in-top {
  animation: in-keyframes-top 0.5s both;
}

.animate-in-top-short {
  animation: in-keyframes-top-short 0.5s both;
}

/*  Waves  */

.waves {
  width: 100%;
  height: 200px;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 200px;
}

.parallax > use {
  animation: move-forever 35s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-duration: 9s;
}
.parallax > use:nth-child(2) {
  animation-delay: -10s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* Shrinking for mobile */

@media (max-width: 900px) {
  .waves {
    display: none;
  }
}

/* Number input (arrow hidding) */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Barcode en Consulta de Exptes. */

.CCode {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Libre Barcode 39', cursive !important;
  font-size: 50px !important;
  background: none;
  border: none;
  margin-bottom: -30px;
}

.Contenido p span[style] .Ccode {
  font-size: 50px !important;
}

@media screen and (max-width: 768px) {
  .CCode {
    font-size: 40px !important;
  }
}

/* Links en OGA */

#link-metodologia {
  color: #2196f3 !important;
  font-weight: bold;
  text-decoration: none !important;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#link-metodologia:hover {
  color: #5c7aea !important;
  font-weight: bold;
  text-decoration: none !important;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/* Accessibilidad */

.highContrast p,
.highContrast span,
.highContrast h1,
.highContrast h2,
.highContrast h3,
.highContrast h4,
.highContrast h5,
.highContrast h6,
.highContrast button,
.highContrast a,
.highContrast input,
.highContrast label,
.highContrast th,
.highContrast td,
.highContrast div {
  color: var(--high-contrast-color) !important;
  text-shadow: var(--high-contrast-color-shadow) !important;
}

.highContrast body {
  content-visibility: auto;
}

.monochromatic {
  filter: grayscale(100%);
  height: 100vh;
}

.animation .animate-in-bottom,
.animation .animate-in-bottom-short,
.animation .animate-in-right,
.animation .animate-in-right-short,
.animation .animate-in-top,
.animation .animate-in-top-short {
  animation: none;
}

.animation #waves {
  display: none;
}

.animation a,
.animation button,
.animation div {
  transition: none !important;
}
